body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}
.container{
  max-width: 1150px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
h2{
  font-weight: normal;
  font-size: 30px;
}
.options {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.option {
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid rgb(205, 205, 205);
  border-radius: 10px;
}
.nav-button{
    background-color: #e2e8f0;
    border: none;
    border-radius: 50px;
    padding: 10px 15px;    
}
.nav-button.attempted{
    background-color: #e2e8f0;
    border: 2px solid #64748b;
}
.nav-button.active{
    background-color: #3682f6;
    color: white;
}
.correct{
  border: 1.5px solid rgb(24, 168, 24);
  background-color: rgb(201, 231, 201);
  color: rgb(24,168,24);
}
.incorrect{
  border: 1.5px solid red;
  background-color: rgb(255, 171, 171);
  color: red;
}
.message{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
}
.result-container{
  background-color: white;
  padding: 20px;
  text-align: center;
  display: none;
  border-radius: 10px;
}
#restart-button{
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #3682f6;
}
.result-container.active{
  display: block;
}